/* https: //material.io/resources/color/#!/?view.left=0&view.right=1&secondary.color=acbec4&primary.color=33637a */
:root {
    --main-bg-color: #00394e;
}
html {
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: var(--main-bg-color);

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;

}
footer p {
    padding-right: 8px;
}
#github {
    height: 20px;
}