/* https: //material.io/resources/color/#!/?view.left=0&view.right=1&secondary.color=acbec4&primary.color=33637a */
:root {
    --header-bg-color: #33637a;
    --main-bg-color: #00394e;
    --footer-bg-color: #6291a9;
    --secgray-bg-color: #acbec4;
}
html {
    font-family: 'Roboto', sans-serif;
    color: white;
    color: rgb(255, 255, 255)
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: var(--main-bg-color);

}
h1 {
    font-size: 40px;
}
main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container {
    /* border: red solid; */
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#settings {
    padding: 20px 20px 20px 20px;
    color: black;
    align-self: center;
    height: calc(800px - 40px);
    width: 300px;
    border: white 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
}
button {
    border-radius: 0px;
    padding: 20px;
    font-size: 20px;
}
input {  
    align-self: center;
}
.color {
    border: none;
    height: 200px;
    width: 200px;
    padding: 0px;
}
#canvas {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 800px;
    min-width: 800px;
    background-color: white;
}
#space {
    height: 800px;
    width: 300px;
}
footer {
    background-color: var(--footer-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

}
footer p {
    padding-right: 8px;
}
#github {
    height: 20px;
}